html {
			height:95%;
		}
		body {
			padding-left:26%;
			overscroll-behavior: none;
		}
		p {
			font-size:20vw;
			width:60%;
			height:47%;
			padding-top: 13%;
			border:black solid 2vw;
			text-align: center;
			border-radius:40px;
			background-color:#d0d0d0d0;
			box-shadow: 9px 9px 3px gray;
			font-weight: 900;
			position:relative;
			bottom:-55%;
			transition: 0.02s ease-in-out;
		}
		
		div {

			height:70vw;
			width:70vw;
		}

		.up, .down {
			transform: rotate(90deg);
			box-shadow: 9px -9px 3px gray;
		}
		.pAnimB {
			transform: rotate(97deg);
		}
		.pAnim {
			transform: rotate(7deg);
		}
		.pAnimB2 {
			transform: rotate(83deg);
		}
		.pAnim2 {
			transform: rotate(-7deg);
		}

		#point {
			position:absolute;
			top: 2%;
			left:3%;
			font-size:100px;
		}